/* `xs` returns only a ruleset and no media query */

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    #slick2 .prev {
        left: 10%;
    }
    #slick2 .next{
        right: 10%;
    }

    #formulario img.bg{
        height: auto;
    }

    #footer .social-media{
        display: flex;
        gap: 1rem;
        justify-content: center;
    }


    #carrousel-product .product-container {
        display: grid; 
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 
            auto
            auto
            1fr 
            1fr;
        gap: 0px 0px; 
        grid-template-areas:
            "product product"
            "product product"
            "attr1 attr2"
            "attr3 attr4";
        width: 100%; 
    }

    #carrousel-product .attr {
        align-items: start;
    }

    /*.carousel-control-prev,
    .carousel-control-next {
        display: none;
    }*/

    /*.marquee-container {
        bottom: 43%;
    }*/
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    #formulario .container-fluid,
    #longevidad .container-fluid {
        padding-left: 7% !important;
        padding-right: 7% !important;
    }

    #longevidad img{
        object-fit: cover;
        border-radius: 0;
    }

    #formulario .myForm{
        background: none;
    }

    #transforma img{
        border-radius: 70px 70px 0 0;
        height: auto;
    }

    #transforma .gradient{
        border-radius: 0 0 70px 70px;
    }
    .letraborder {
        word-break: normal !important;
        text-wrap: wrap !important;
    }
}


/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { }

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    #slick2 .prev {
        left: 10%;
    }
    #slick2 .next{
        right: 10%;
    }

    .carousel-control-prev {
        left: 1rem;
    }
    
    .carousel-control-next {
        right: 1rem;
    }
 }

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { }




/*Especifivos para la tabla*/
.separator {
    display: none;
}
@media (min-width: 434px) {
    .separator:nth-child(2) {
        display: block;
    }
}
@media (min-width: 768px) {
    .separator:nth-child(4) {
        display: block;
    }
}

