@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-Light";
  src: url(../assets/fonts/Montserrat/static/Montserrat-Light.ttf);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../assets/fonts/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat-BoldItalic";
  src: url(../assets/fonts/Montserrat/static/Montserrat-BoldItalic.ttf);
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url(../assets/fonts/Montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "Poppins-Bold";
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
  font-family: "Karla-Regular";
  src: url(../assets/fonts/karla/static/Karla-Regular.ttf);
}
@font-face {
  font-family: "Karla-Italic";
  src: url(../assets/fonts/karla/static/Karla-Italic.ttf);
}

:root {
  --primary--color: #ff5704;
  --secundary--color: #ffda9d59;
  --background--color: #ffffff;
  --primary--text--color: #484848;
  --secundary--text--color: #ffffff;
  --primary--font: "Montserrat", sans-serif;
  --border--subrayado: linear-gradient(
    89.93deg,
    #ff5704 0.02%,
    rgba(255, 87, 4, 0) 13.51%,
    #ff5704 25.5%,
    rgba(255, 87, 4, 0) 36.99%,
    #ff5704 51.48%,
    rgba(255, 87, 4, 0) 63.97%,
    #ff5704 74.46%,
    rgba(255, 87, 4, 0) 83.95%,
    #ff5704 94.45%
  );
  --background2-page: url("../images/backgrounds/events_background.png");
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--primary--font);
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}
html {
  scroll-behavior: smooth;
}

.container-fluid {
  padding-right: 6% !important;
  padding-left: 6% !important;
}

body {
  overflow-x: hidden;
  background-color: var(--background--color);
}

/*=============GENERALES===========*/
.h1 {
  font-family: "Montserrat-Bold";
  font-size: clamp(3rem, 7vw, 12rem);
  font-weight: bold;
}

.h2 {
  font-family: "Montserrat-Bold";
  font-size: clamp(3rem, 6vw, 5rem);
  font-weight: bold;
}

.h3 {
  font-family: "Montserrat-Bold";
  font-size: clamp(1.5rem, 7vw, 3rem);
  font-weight: bold;
}

.h4 {
  font-family: "Montserrat-Bold";
  font-size: clamp(1.2rem, 1.8vw, 1.9rem);
  font-weight: bold;
}

.h5 {
  font-family: "Montserrat-Bold";
  font-size: clamp(1rem, 1.5vw, 2rem);
  font-weight: bold;
}

.h6 {
  font-family: "Montserrat-Bold";
  font-size: clamp(3.2rem, 4vw, 7rem);
  font-weight: bold;
}
.h7 {
  font-family: "Montserrat-Bold";
  font-size: clamp(1.3rem, 7vw, 2.8rem);
  font-weight: bold;
}

.bold {
  font-family: "Montserrat-Bold";
}

.border-subrayado {
  border: 2px solid;
  border-image-source: var(--border--subrayado);
  border-image-slice: 1;
}

.border-naranja {
  border: 2px solid var(--primary--color);
}

.color-primary {
  color: var(--primary--color);
}

.py-10 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.btn-secondary {
  background: var(--secundary--color);
  color: var(--primary--color);
  border-radius: 15px;
  border: solid 1px var(--primary--color);
  white-space: nowrap;
  width: 150px;
}

.btn-secondary:hover {
  background: var(--primary--color);
  color: var(--secundary--text--color);
  border: solid 1px var(--primary--color);
}

.btn-primary {
  background: var(--primary--color);
  color: var(--secundary--text--color);
  border: 1px solid var(--primary--color);
  font-family: "Montserrat-Medium";
}

.btn-primary:hover {
  background: var(--secundary--color);
  color: var(--secundary--text--color);
  border: solid 1px var(--primary--color);
  color: var(--primary--color);
}

.btn {
  border-radius: 25px;
}

.btn-transparent {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid white;
  font-family: "Montserrat-Light";
  padding: 0.75rem 1.5rem;
}

.btn-transparent:hover {
  background: transparent;
  border: solid 2px var(--background--color);
}

.fs-5 {
  color: var(--primary--text--color);
}

.my-10{
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.btn-scuare{
    border-radius: 0.25rem;
}

/*========== NAVBAR ===========*/
#nav{
  transition: 0.3s ease;
}
.navbar.bg-light{
  background-color: white;
}

.navbar.navbar-transparent{
  background: rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.navbar.nav-glass:has(.show) {
  background: rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.navbar-nav {
  white-space: nowrap;
}

.navbar-nav .active .nav-link {
  font-family: "Montserrat-Bold";
  color: var(--primary--color);
}

.navbar-brand span:hover {
  color: inherit; /* Keeps the original color */
}

.navbar-collapse {
  padding-left: 10px;
  font-size: 11.97px;
}

.navbar .menu {
  margin-left: 50px;
  margin-right: 15px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url(/images/icons/toggler-icon.svg);
}

.nav-glass .navbar-toggler-icon {
  background-image: url(/images/icons/toggler-icon-white.svg);
}

.botoncirculo {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: solid 1px var(--primary--color);
}

#navbarNav .nav-link:hover {
  color: var(--primary--color);
  font-family: "Montserrat-Bold";
}

.bg-image {
  background-image: url(/images/backgrounds/background-min.png);
  background-size: cover;
  background-position: center;
  height: 600px;
  width: 100%;
}

.titulo1 h1 {
  line-height: 1;
  letter-spacing: 12px;
  padding-top: 5rem;
}
.titulo1 p {
  line-height: 1;
}

/*==========  FOOTER =================================*/
#footer {
  background-color: var(--primary--color);
  color: white;
}

#footer a {
  color: white;
  text-decoration: none;
}

#footer .social-media {
  display: flex;
  gap: 1rem;
  justify-content: start;
}

#footer .social-media img {
  transition: transform 0.3s ease;
}

#footer .social-media img:hover {
  transform: scale(1.25);
}
#footer .copyright {
  display: flex;
  justify-content: space-between;
}
